echo "# Build files" > .gitignore
echo "build/" >> .gitignore
echo "bin/*.exe" >> .gitignore
echo "bin/*.dll" >> .gitignore
echo "bin/imgui.ini" >> .gitignore
echo "mac_build/" >> .gitignore
echo "windows_build/" >> .gitignore
